Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

Class > Compartment[kind="operations"] {
    visible:false;
}

DataType > Compartment[kind="operations"] {
    visible:false;
}

Property { maskLabel: name type multiplicity defaultValue;}

Label[type=StereotypeLabel]{
	visible:false;}